body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

#subject, #body {
    width: calc(100% - 140px); /* Sayfanın genişliği - (padding + label genişliği) */
    margin-right: 20px; /* Sağ kenardan boşluk */
    float: left; /* Yan yana hizalama */
}

#subjectLabel, #bodyLabel {
    float: left; /* Yan yana hizalama */
    clear: both; /* Yanındaki öğelerin altına gelmesi */
    width: 100px; /* Sabit genişlik */
    text-align: left; /* Sağa hizalama */
    margin-top: 15px; /* Sağ boşluk */
}

.subject {
    width: 100%;
    height: 35px;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.body {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
}

.container {
    max-width: 800px;
    max-height: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: cornflowerblue;
}

form {
    display: flex;
    flex-wrap: wrap;
}

input {
    flex: 1;
    padding: 8px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button {
    flex: 1;
    padding: 8px;
    margin: 5px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }


#senderId {
    width: 100%; /* Sayfanın genişliği boyunca genişletme */
    height: 35px; /* Yükseklik ayarı */
    padding: 5px;
    box-sizing: border-box; /* padding dahil genişlik/hesaplama */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px; /* Aşağıya doğru boşluk */
}

#senderLabel {
    text-align: center; /* Metni sağa hizala */
    padding-left: 270px; /* Kenar boşluğu */
}

#recepientLabel {
    text-align: center; /* Metni sağa hizala */
    padding-left: 320px; /* Kenar boşluğu */
}

#sendEmailButton {
    clear: both; /* Yanındaki öğelerin altına gelmesi */
    width: 100%; /* Sayfa genişliği boyunca genişletme */
    height: 35px; /* Yükseklik ayarı */
    margin-top: 20px; /* Üst boşluk */
}

.sendEmailButton {
    width: 100%; /* Sayfa genişliği boyunca genişletme */
    height: 35px; /* Yükseklik ayarı */
}
